<div class="container">
  <div class="mt-6 row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Welcome to the safe and well app</h1>
              <div class="d-flex justify-content-center">
                <a href="/search" class="btn btn-primary btn-lg my-3 me-3">Search for a loved one</a>
                <a href="/report" class="btn btn-primary btn-lg my-3 me-3">Report your status</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-12">
      {{#if reports}}
      <hr />
      <div class="row">
        <div class="col-md-12 card">
          <div class="card-body">
            <h2 class="card-title">Current Reports</h2>
            {{!-- This is a partial --}}
            {{> reports }}
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>